{% extends "base.html" %}

{% block content %}
    <h2>Deklinacija prideva i imenica</h2>
    <table class="table table-bordered table-sm">
        <tr valign="middle">
            <td/>
            <td colspan="7" align="center"><span class="text-uppercase">jedina / singular</span></td>
        </tr>
        <tr class="table-primary">
            <td/>
            <td colspan="3" align="center">muški</td>
            <td colspan="2" align="center">ženski</td>
            <td colspan="2" align="center">sredni</td>
        </tr>
        <tr class="table-info" valign="middle">
            <td>
                <h5>Nominativ</h5>
                <span>Ko? Šta?</span>
            </td>
            <td>nov prozor</td>
            <td>vruč čaj</td>
            <td>lep momak</td>

            <td>lepa žena</td>
            <td>lepa reč</td>

            <td>lepo pismo</td>
            <td>moje igralište</td>
        </tr>
        <tr valign="middle">
            <td>
                <h5>Genitiv</h5>
                <span>Od koga? Od čega?</span>
            </td>
            <td>nov<b>og</b> prozor<b>a</b></td>
            <td>vruč<b>eg</b> čaj<b>a</b></td>
            <td>lep<b>og</b> mom<b>ka</b></td>

            <td>lep<b>e</b> žen<b>e</b></td>
            <td>lep<b>e</b> reč<b>i</b></td>

            <td>lep<b>og</b> pism<b>a</b></td>
            <td>moj<b>eg</b> igrališt<b>a</b></td>
        </tr>
        <tr valign="middle" class="table-info">
            <td>
                <h5>Dativ</h5>
                <span>Kome? Čemu?</span>
            </td>
            <td>nov<b>om</b> prozor<b>u</b></td>
            <td>vruč<b>em</b> čaj<b>u</b></td>
            <td>lep<b>om</b> mom<b>ku</b></td>

            <td>lep<b>oj</b> žen<b>i</b></td>
            <td>lep<b>oj</b> reč<b>i</b></td>

            <td>lep<b>om</b> pism<b>u</b></td>
            <td>moj<b>em</b> igrališt<b>u</b></td>
        </tr>

        <tr valign="middle">
            <td>
                <h5>Akuzativ</h5>
                <span>Koga? Šta?</span>
            </td>
            <td>novi prozor</td>
            <td>vruč čaj</td>
            <td>lep<b>og</b> mom<b>ka</b></td>

            <td>lep<b>u</b> žen<b>u</b></td>
            <td>lep<b>u</b> reč</td>

            <td>lepo pismo</td>
            <td>moje igralište</td>
        </tr>

        <tr class="table-info" valign="middle">
            <td>
                <h4>Vokativ</h4>
                <span>Oj! Hej!</span>
            </td>
            <td>nov<b>i</b> prozor<b>u</b></td>
            <td>vruč<b>i</b> čaj<b>u</b></td>
            <td>lep<b>i</b> momč<b>e</b></td>

            <td>lepa žen<b>o</b></td>
            <td>lepa reč<b>i</b></td>

            <td>lepo pismo</td>
            <td>moje igralište</td>
        </tr>

        <tr valign="middle">
            <td>
                <h4>Instrumental</h4>
                <span>Sa kim? Sa čim?</span>
            </td>
            <td>nov<b>im</b> prozor<b>om</b></td>
            <td>vruč<b>im</b> čaj<b>em</b></td>
            <td>lep<b>im</b> momk<b>om</b></td>

            <td>lep<b>om</b> žen<b>om</b></td>
            <td>lep<b>om</b> reč<b>i</b></td>

            <td>lep<b>im</b> pism<b>om</b></td>
            <td>moj<b>im</b> igrališt<b>em</b></td>
        </tr>
        <tr class="table-info" valign="middle">
            <td>
                <h4>Lokativ</h4>
                <span>O kome? O čemu?</span>
            </td>
            <td>nov<b>om</b> prozor<b>u</b></td>
            <td>vruč<b>em</b> čaj<b>u</b></td>
            <td>lep<b>om</b> momk<b>u</b></td>

            <td>lep<b>oj</b> žen<b>i</b></td>
            <td>lep<b>oj</b> reč<b>i</b></td>

            <td>lep<b>om</b> pism<b>u</b></td>
            <td>moj<b>em</b> igrališt<b>u</b></td>
        </tr>

        <tr valign="middle">
            <td/>
            <td colspan="7" align="center"><span class="text-uppercase">množina / plural</span></td>
        </tr>
        <tr class="table-primary">
            <td/>
            <td colspan="3" align="center">muški</td>
            <td colspan="2" align="center">ženski</td>
            <td colspan="2" align="center">sredni</td>
        </tr>
        <tr class="table-info" valign="middle">
            <td>
                <h5>Nominativ</h5>
                <span>Ko? Šta?</span>
            </td>
            <td>novi prozori</td>
            <td>vruči čajevi</td>
            <td>lepi momci</td>

            <td>lepe žene</td>
            <td>lepe reči</td>

            <td>lepa pisma</td>
            <td>moja igrališta</td>
        </tr>
        <tr valign="middle">
            <td>
                <h5>Genitiv</h5>
                <span>Od koga? Od čega?</span>
            </td>
            <td>nov<b>ih</b> prozor<b>a</b></td>
            <td>vruč<b>ih</b> čaj<b>eva</b></td>
            <td>lep<b>ih</b> mom<b>aka</b></td>

            <td>lep<b>ih</b> žen<b>a</b></td>
            <td>lep<b>ih</b> reč<b>i</b></td>

            <td>lep<b>ih</b> pis<b>ama</b></td>
            <td>moj<b>ih</b> igrališt<b>a</b></td>
        </tr>
        <tr valign="middle" class="table-info">
            <td>
                <h5>Dativ</h5>
                <span>Kome? Čemu?</span>
            </td>
            <td>nov<b>im</b> prozor<b>ima</b></td>
            <td>vruč<b>im</b> čaj<b>evima</b></td>
            <td>lep<b>im</b> mom<b>cima</b></td>

            <td>lep<b>im</b> žen<b>ama</b></td>
            <td>lep<b>im</b> reč<b>ima</b></td>

            <td>lep<b>im</b> pism<b>ima</b></td>
            <td>moj<b>im</b> igrališt<b>ima</b></td>
        </tr>
        <tr valign="middle">
            <td>
                <h5>Akuzativ</h5>
                <span>Koga? Šta?</span>
            </td>
            <td>nov<b>e</b> prozor<b>e</b></td>
            <td>vruč<b>e</b> čajev<b>e</b></td>
            <td>lep<b>e</b> mom<b>ke</b></td>

            <td>lepe žene</td>
            <td>lepe reči</td>

            <td>lepa pisma</td>
            <td>moja igrališta</td>
        </tr>
        <tr class="table-info" valign="middle">
            <td>
                <h4>Vokativ</h4>
                <span>Oj! Hej!</span>
            </td>
            <td>novi prozori</td>
            <td>vruči čajevi</td>
            <td>lepi momci</td>

            <td>lepe žene</td>
            <td>lepe reči</td>

            <td>lepa pisma</td>
            <td>moja igrališta</td>
        </tr>
        <tr valign="middle">
            <td>
                <h4>Instrumental</h4>
                <span>Sa kim? Čim?</span>
            </td>
            <td>nov<b>im</b> prozor<b>ima</b></td>
            <td>vruč<b>im</b> čaj<b>evima</b></td>
            <td>lep<b>im</b> momc<b>ima</b></td>

            <td>lep<b>im</b> žen<b>ama</b></td>
            <td>lep<b>im</b> reč<b>ima</b></td>

            <td>lep<b>im</b> pism<b>ima</b></td>
            <td>moj<b>im</b> igrališt<b>ima</b></td>
        </tr>
        <tr class="table-info" valign="middle">
            <td>
                <h4>Lokativ</h4>
                <span>O kome? O čemu?</span>
            </td>
            <td>nov<b>im</b> prozor<b>ima</b></td>
            <td>vruč<b>im</b> čajev<b>ima</b></td>
            <td>lep<b>im</b> momc<b>ima</b></td>

            <td>lep<b>im</b> žen<b>ama</b></td>
            <td>lep<b>im</b> reč<b>ima</b></td>

            <td>lep<b>im</b> pism<b>ima</b></td>
            <td>moj<b>im</b> igrališt<b>ima</b></td>
        </tr>
    </table>
{% endblock content %}

{% block navigation %}
<li class="list-group-item active"><a class="nav-link" href="{% url "theory_sections" "cases" %}">Padeži imenica</a></li>
<li class="list-group-item"><a class="nav-link" href="{% url "theory_sections" "cases_pronouns" %}">Padeži zamenica</a></li>
{% endblock navigation %}