{% extends "base.html" %}

{% block content %}
    <h2>Deklinacija zamenica</h2>
    <table class="table table-bordered table-sm">
        <tr valign="middle" class="table-primary">
            <td align="center"><span class="text-uppercase">padeži</span></td>
            <td colspan="4" align="center"><span class="text-uppercase">jedina</span></td>
            <td colspan="3" align="center"><span class="text-uppercase">množina</span></td>
        </tr>
        <tr>
            <td/>
            <td>1.</td>
            <td>2.</td>
            <td>3. m.r., s.r.</td>
            <td>3. ž.r.</td>

            <td>1.</td>
            <td>2.</td>
            <td>3.</td>
        </tr>
        <tr>
            <td><b>Nominativ</b><br/><span class="text-sm">Ko? Šta?</span></td>
            
            <td>ja</td>
            <td>ti</td>
            <td>on, ono</td>
            <td>ona</td>

            <td>mi</td>
            <td>vi</td>
            <td>oni, one, ona</td>
        </tr>
        <tr>
            <td>
                <b>Genitiv</b>
                <br/><span class="text-sm">Koga? Čega?</span>
            </td>
            
            <td>mene, me</td>
            <td>tebe, te</td>
            <td>njega, ga</td>
            <td>nje, je</td>

            <td>nâs, nas</td>
            <td>vâs, vas</td>
            <td>njih, ih</td>
        </tr>
        <tr>
            <td>
                <b>Dativ</b>
                <br/><span class="text-sm">Kome? Čemu?</span>
            </td>
            
            <td>meni, mi</td>
            <td>tebi, ti</td>
            <td>njemu, mu</td>
            <td>njoj, joj</td>

            <td>nama</td>
            <td>vama</td>
            <td>njima, im</td>
        </tr>
        <tr>
            <td>
                <b>Akuzativ</b>
                <br/><span class="text-sm">Koga? Šta?</span>
            </td>
            
            <td>mene, me</td>
            <td>tebe, te</td>
            <td>njega, ga</td>
            <td>nju, je, ju</td>

            <td>nas</td>
            <td>vas</td>
            <td>njih, ih</td>
        </tr>
        <tr>
            <td>
                <b>Instrumental</b>
                <br/><span class="text-sm">Sa kim? Sa čim?</span>
            </td>
            
            <td>sa mnom</td>
            <td>sa tobom</td>
            <td>sa njim</td>
            <td>sa njom</td>

            <td>sa nama</td>
            <td>sa vama</td>
            <td>sa njima</td>
        </tr>
        <tr>
            <td>
                <b>Lokativ</b>
                <br/><span class="text-sm">O kome? O čemu?</span>
            </td>
            
            <td>o meni</td>
            <td>o tebi</td>
            <td>o njemu</td>
            <td>o njoj</td>

            <td>o nama</td>
            <td>o vama</td>
            <td>o njima</td>
        </tr>
    </table>
{% endblock content %}

{% block navigation %}
    <li class="list-group-item"><a class="nav-link" href="{% url "theory_sections" "cases" %}">Padeži imenica</a></li>
    <li class="list-group-item active"><a class="nav-link" href="{% url "theory_sections" "cases_pronouns" %}">Padeži zamenica</a></li>
{% endblock navigation %}