{% extends "base.html" %}

{% block title %}Words in list: {{ list.title }}{% endblock title %}

{% block navigation %}
{% include "lists_nav.html" %}
{% endblock navigation %}

{% block content %}

<nav class="navbar bg-white justify-content-start">
    <a class="nav-item btn" href="{% url "guess_words_in_list" list.id %}">pogodi reč!</a>&nbsp;
    <a class="nav-item btn active" href="{% url "show_words_list" list.id %}">pokaži listu</a>
</nav>
<table class="table table-striped">
    <thead>
        <tr>
            <th>srpski</th>
            <th>drugi</th>
        </tr>
    </thead>
    <tbody>
        {% for w in words %}
        <tr>
            <td>{{ w.srpski }}</td>
            <td>{{ w.drugi }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}