{% extends "base.html" %}

{% block title %}Guess word{% endblock title %}

{% block navigation %}
{% include "lists_nav.html" %}
{% endblock navigation %}

{% block content %}
{% if count_left > 0 %}
<nav class="navbar bg-white justify-content-start">
    <a class="nav-item btn active" href="{% url "guess_words_in_list" list.id %}">pogodi reč!</a>&nbsp;
    <a class="nav-item btn" href="{% url "show_words_list" list.id %}">pokaži listu</a>
</nav>
{% load crispy_forms_tags %}
<form method="post" class="border" autocomplete="off">
    {% csrf_token %}
    <div class="mb-3 px-5 py-5">
        <h2>Guess the word</h2>
        <label for="id_guess" class="form-label">Guess word: <strong><span id="id_word_srpski">{{word.srpski}}</span></strong></label>
        {{ form|crispy }}
        <input type="submit" value="submit" id="id_submit" class="btn btn-primary rounded"/>
    </div>
</form>
{% endif %}
<div class="mb-3 row">
<div class="col col-auto">Words left to learn: <span id="words_left">{{count_left}}</span></div>
<div class="col col-auto">Words in the list: <span id="words_total">{{count_total}}</span></div>
<div class="col col-auto">Tries so far: <span id="tries">{{tries}}</span></div>
</div>
{% endblock content %}